@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Roboto:wght@500&display=swap");
:root {
  --text-color: #333;
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #f53d2d;
  --boder-color: #dbdbdb;
  --navber-height: 36px;
  --header-height: 130px;
  --header-with-search: calc(var(--header-height) - var(--navber-height));
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.btn {
  min-width: 124px;
  height: 36px;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  line-height: 1.6rem;
  border-radius: 2px;
  font-size: 1.5rem;
  background-color: var(--white-color);
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}
/* test */
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.grid__column-2 {
  width: 16.6666%;
}

.grid__column-10 {
  width: 83.3334%;
  margin-left: -12px;
  margin-right: -12px;
}


/* selection */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
  
  }

  .select-input:hover .select-input__list{
    display: block;
  }
  
  .select-input__label{
    font-size: 1.4rem;
  }
  
  .select-input__label--icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
    cursor: pointer;
  }
  
  .select-input__list{
    display: none;
    min-height: 54px;
    position: absolute;
    left: 0;
    right: 0;
    top: 34px;
    border-radius: 2px;
    background-color: var(--white-color);
  }

  .select-input__item{
    padding: 12px 10px;
    font-size: 1.4rem;
  }
  
  .select-input__link:hover{
    color: var(--primary-color);
  }

